* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: limegreen;
}

.main-container {
    width: 80%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(119, 196, 42);
    padding: 10px;
    border-radius: 15px;
    padding: 20px;
}

.features-container {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.features-container #color {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
}

